@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@200;300;600;700;800&display=swap");

:root {
  --Oswald: "Oswald", sans-serif;
  --Raleway: "Raleway", sans-serif;

  --white: #fff;
  --blue-500: #3399ff;
  --blue-600: #508fb9;
  --blue-700: #2b4d64;
  --blue-800: #0f2e4d;
  --blue-900: #192c39;

  --red-400: #ff584d;

  --y: #ffb333;

  --btn: #80bfff;
  --btn-2: #4d7399;

  --trans: 0.3s ease-in;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

p {
  margin: 0;
}

body {
  height: 100%;
  font-family: var(--Raleway);
  font-weight: 700;
  background: var(--blue-500);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--blue-800);
}

img {
  max-width: 100%;
}

h1 {
  font-family: var(--Oswald);
  color: var(--blue-800);
  font-size: 3rem;
}

/* Form */

.form {
  display: flex;
  gap: 1rem;
}

.form__input {
  height: 3.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: border-color var(--trans);
  background-color: var(--white);
  font-weight: 300;
}

.form__input:focus {
  outline: none;
  border-color: var(--blue-700);
}

.form__btn {
  height: 3.4em;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--btn);
  color: var(--blue-800);
  transition: transform var(--trans), box-shadow var(--trans);
}

.form__btn:hover,
.form__btn:focus {
  outline: none;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.form__btn:active {
  transform: scale(0.9);
}

.form__icon {
  width: 2rem;
}

.form__noSearch {
  color: var(--red-400);
  height: 3.4rem;
  display: flex;
  align-items: center;
}

/* Card */
.card {
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card__head {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card__name {
  margin: 0;
  color: var(--blue-800);
}

.card__country {
  background-color: var(--y);
  padding: 2px 0.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.card__temp {
  font-size: 5rem;
  font-family: var(--Oswald);
  line-height: 1.5;
}

.card__desc {
  text-transform: capitalize;
  margin: 0;
}

/*=================================*/

@media screen and (max-width: 500px) {
  #root {
    width: 80%;
  }

  .form {
    flex-direction: column;
  }
}
